<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284822259763-8fok611a4q0r79qk23ndnsqe7l11s1mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284822259763-8fok611a4q0r79qk23ndnsqe7l11s1mc</string>
	<key>API_KEY</key>
	<string>AIzaSyB8QtIJAZGVAb9F21xazj58ENc3th1zlZc</string>
	<key>GCM_SENDER_ID</key>
	<string>284822259763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muli.travelhero</string>
	<key>PROJECT_ID</key>
	<string>travel-hero---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-hero---dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284822259763:ios:188a18a18f1f72f8c3bb46</string>
</dict>
</plist>